body {
  margin: 0px;
}
header {
  background-color: #444444;
  padding: 75px;
  margin: 0px;
}

.main {
  height: 600px;
  display: flex;
  flex-direction: row;
}

.column-left {
  background-color: #pink;
  padding: 75px;
  height: 100%;
}
