.main {
  height: 800px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.leftColumn {
  background-color: #4A90E2;
  height: 100%;
  flex: 1;
}

.middleColumn {
  background-color: #50E3C2;
  height: 100%;
  flex: 1;
}

.rightColumn {
  background-color: #B8E986;
  height: 100%;
  flex: 1;
  display: flex;
  align-items: flex-end;
}

/*fill in actual image url with desired image and uncomment the first line:*/
.imgPlaceholder {
  /*background-image: url("http://bogus_url");*/
  background-size: cover;
  background-position: center;
  background-color: #D0021B;
  width: 100%;
  height: 200px;
  line-height: 200px;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
  color: #fff;*/
}
